.orbit-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.orbit-item {
  position: absolute;
  will-change: transform;
  user-select: none;
}
.orbit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
